
.history-list {
 cursor: pointer;
 max-height: 300px;
 overflow: auto;
.history{
  background-color:$white;
    display: flex;
    align-items: center;
    padding: 2%;
    border-bottom: 1px solid black;
    border-radius: 5px;
  h6{
    flex: 1;
     }
     .text-content{
        flex: 3;
        span{
          margin: 5%;

        }
        .wrap{
            .cash{
              display: block;
            }
        }
  }
}
.last-wraper{
  font-size: 21px;
  display: flex;
  .color-green{
    color: green;
    font-weight: bold;

  }
  .color-red {
    color: red;
    font-weight: bold;
  }

  .color-red::before{
    content: "-";
  }

  span{
    padding-top: 10%;
    padding-bottom: 30%;
  }
}
}
