header{
  font-family: 'Roboto Condensed', sans-serif;
  nav{
    @media (max-width: 425px){
      position: relative;
      height: 65px;
    }
    background-color:$topaz;
    color: $white;
    .left-wrap-nav {

      img{
        width: 35%;
        padding: 10%;
      }
      .img-container{
        @media(max-width: 640px){
          position: absolute;
        right: 50%;
          transform: translateX(50%);
          text-align: center;
        }
        img{
          @media (max-width: 425px){
            width: 50%;
          }
          width: 45%;
        }
      }
      .user-panel-container{

        .kowalski{
          font-size: 20px;

        }
        .name-panel-set{
          padding-right: 10%;
        }


        .icon{
          text-align: center;
          padding-left: 5%;

          font-size: 28px;
          color: $white;
        }
      }

    }
    .center-nav-wrap{
      @media (min-width: 425px){
        position: relative;
      }

      .nav-main-page{

        list-style-type: none;
        margin: 0;
        line-height: 2;

        .home{
          background-color: black;
          position: relative;

        }
        .home::after{
          content: "";
          background-color: black;
          width: 16px;
          height: 16px;
          position: absolute;
          bottom:-7px;
          right: 50%;
          transform: translateX(50%);
          border-radius: 100%;
        }
        li{
          display: inline-block;

          text-align: center;
          padding-left: 3%;
          padding-right: 3%;

          a{

            display: block;
            color: $white;
            text-decoration: none;

            span{
              font-size: 36px;
              text-align: center;
              display: block;

            }
          }
        }

      }

    }
    .right-nav-wrap{
      font-size: 30px;
      .magnifying-glass-icon{
        border-right: 1px solid white;
        margin-right: 15px;
        .fi-magnifying-glass{
          margin-right: 50%;
        }


      }
      .power-icon{

        color: $lipstick;
      }
    }
  }
}
.move-left {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
