.main-wrap{
  height: 100vh;
  background-color: $silver;
  font-family: 'Roboto Condensed';
  h1{
    font-family: 'Roboto Condensed', sans-serif;
font-size: 50px;
font-weight: 300;
  }

  .top-content-wrap{
    padding-top: 4%;
    .btn-righ-wrap{
      display: flex;
      button{
        background-color: $topaz;
        color: $white;
        text-transform: uppercase;
        width: 100%;
        margin-left: 10%;
        height: 40px;
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 8%;

      }
    }
  }
  .money-display-wrap{
    .payments{
      p{display: inline-block;

      }
      button{
        background-color: $topaz;
        padding: 3%;
        border-radius: 4%;
      }
    }
  }
  span{
    font-weight: bold;
    margin-right: 5px;
  }
  .wrap-switch-btn{
    .switch.large{
      height: 25px;
    }
    line-height: 70px;
  .switch-paddle{
    
    // background-color: black;
    border-radius: 10%;
    width: 5rem;
    text-align: center;
    color: black;
    &::after{
      border-radius: 10%;
    }
  }
}
}
