@mixin Text-style-4 {
  font-family: Roboto;
font-size: 100px;
font-weight: 300;
font-stretch: condensed;
line-height: 0.4;
text-align: left;
color: #000000;
}

@mixin Text-Style-3 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 300;
  font-stretch: condensed;
  line-height: 0.8;
  letter-spacing: -1.2px;
  text-align: left;
  color: #ffffff;
}

@mixin Text-Style-2 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: condensed;
  text-align: center;
  color: #ffffff;
}

@mixin Text-Style {
  font-family: Roboto;
  font-size: 11px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
