.product-list{
  display: flex;
  flex-wrap: wrap;


.product {
  display: flex;
  border-radius: 5px;
  background-color: $white;
  width: 44%;
  // margin: 5% 0 5% 0;
  margin:0 5% 2% 1%;
  padding: 8% 8% 8% 2%;
  transition: all 0.5s ease;

 &:hover {
   cursor: pointer;
   background-color: blue;
   transition: all 0.5s ease;
 }
 .product-wraper{
   width: 50%;
   margin-left: 10%;
   h6{
     margin-bottom: 0;
   }
 }
}
.product:last-child{
  background-color: $topaz;
}
}
