.product-list{
  display: flex;
  flex-wrap: wrap;


.product {
  display: flex;
  border-radius: 5px;
  background-color: $white;
  width: 46%;
  // margin: 5% 0 5% 0;
  margin:5px;
  padding: 8% 8% 8% 2%;
  transition: all 0.5s ease;
  @media(max-width: 425px){
    width: 100%;
    margin:2% 0;
  }
  // @media(max-width: 639px){
  //   width: 48%;
  // }

 &:hover {
   cursor: pointer;
   background-color: blue;
   transition: all 0.5s ease;
 }
 .product-wraper{
   width: 50%;
   margin-left: 10%;
   h6{
     margin-bottom: 0;
   }
 }
}
.product:last-child{
  background-color: $topaz;
}
}
