main{
  margin-top: 10%;
  .img-wrap{
    display: inline-block;
  }
  .money-wrap{
    display: inline-block;

  }
  .amout{
    font-size: 30px;
    font-weight: bold;
  }
  .main-list-type{
    display: flex;
    justify-content:space-between;
    label{
      width: 50px;


    }
    span{
      display: block;
      // width: 20%;

    }
  }
}

 input:checked{
   background-color: red;
 }
 label+input:checked{
   background: green;
 }
